version: '3.9'

services:
  web:
    build: .
    container_name: hotel_web
    command: /venv/bin/gunicorn application.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=application.settings
    depends_on:
      - db
      - redis

  db:
    image: postgres:13
    container_name: hotel_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: hotel_redis
    ports:
      - "6379:6379"

  celery:
    build: .
    container_name: hotel_celery
    command: celery -A application worker --loglevel=info
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=application.settings
    depends_on:
      - web
      - redis
      - db

  celery-beat:
    build: .
    container_name: hotel_celery_beat
    command: celery -A application beat --loglevel=info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=application.settings
    depends_on:
      - web
      - redis

volumes:
  pgdata:
